<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Block Buster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>717D76EB1CE4B57F00D6BDF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>717D77021CE4B57F00D6BDF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>717D770D1CE4B57F00D6BDF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
